@model CourseApplication.BLL.VMs.Wishlist.WishlistData

@{
    ViewData["Title"] = "My wishlist";
}
<div class="container">
    <div class="row d-flex justify-content-between my-3">
        <h3>My wishlist</h3>
        <p>@Html.DisplayFor(model=>model.UserId)</p>
    </div>
    <div class="row d-flex flex-column align-items-center">
        @{
            @if (Model.ProductList.Count() == 0)
            {
                <span class="text-muted">Oops! Looks like your wishlist is empty. Try to add some products!</span>
            }
            else
            {
                @foreach (var item in Model.ProductList)
                {
                    <div class="card mb-3 w-100">
                        <div class="card-header">
                            <h4>
                                @Html.DisplayFor(modelItem => item.Name)
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3">

                                    </div>
                                    <div class="col-sm-7">
                                        <p class="font-weight-light font-italic">Category: <span>@Html.DisplayFor(modelItem => item.CategoryName)</span></p>
                                        <h3 class="text-danger font-weight-bold">USD $@Html.DisplayFor(modelItem => item.Price)</h3>
                                        <p>About product:</p>
                                        <p class="text-black-50">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                                    </div>
                                    <div class="col-sm-2">
                                        @*<form method="get" asp-controller="Product" asp-action="GetProductById" asp-route-positionId="@item.ProductId">
                                            <button type="submit" class="btn btn-primary">Details</button>
                                        </form>*@
                                        <form method="post" asp-controller="WishlistPosition" asp-action="DeleteWishlistPosition" asp-route-positionId="@item.WishlistPositionId">
                                            <button type="submit" class="btn btn-primary">Delete from wishlist</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>

</div>