@model CourseApplication.BLL.VMs.Product.ProductData

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}
<div class="container">
    <a class="btn btn-primary mb-3" asp-controller="Product" asp-action="GetAllProducts">Back</a>

    <h2> @Html.DisplayFor(model => model.Name)</h2>

    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">

                    </div>
                    <div class="col-sm-7">
                        <h4>@Html.DisplayFor(model => model.Name)</h4>
                        <p>Product score: <span>@Html.DisplayFor(model => model.Score)</span>/5.0</p>
                        <p class="font-weight-light font-italic">Brand: <span>@Html.DisplayFor(model => model.BrandName)</span></p>
                        <p class="font-weight-light font-italic">Category: <span>@Html.DisplayFor(model => model.CategoryName)</span></p>
                        <h3 class="text-danger font-weight-bold">USD $@Html.DisplayFor(model => model.Price)</h3>
                        <p class="font-weight-light font-italic">Available: <span>@Html.DisplayFor(model => model.Quantity)</span></p>
                        @{
                            if (Model.Quantity > 0)
                            {
                                if (Model.InCart == false)
                                {
                                    <form method="post" asp-controller="CartPosition" asp-action="CreateCartPosition" asp-route-productId="@Model.ProductId">
                                        <button type="submit" class="btn btn-primary">Add to cart</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-controller="CartPosition" asp-action="DeleteCartPosition" asp-route-positionId="@Model.CartPositionId">
                                        <button type="submit" class="btn btn-primary">Remove from cart</button>
                                    </form>
                                }
                            }
                            else
                            {
                                <h4 class="text-danger font-weight-bold">Sorry, this product is no longer available!</h4>
                            }
                        }

                        <p class="font-weight-light font-italic">Orders: <span>@Html.DisplayFor(model => model.OrderNumber)</span></p>
                        @{ if (Model.InWishlist == false)
                            {
                                <form method="post" asp-controller="WishlistPosition" asp-action="CreateWishlistPosition" asp-route-productId="@Model.ProductId">
                                    <button type="submit" class="btn btn-primary">Add to wishlist</button>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-controller="WishlistPosition" asp-action="DeleteWishlistPosition" asp-route-positionId="@Model.WishlistPositionId">
                                    <button type="submit" class="btn btn-primary">Remove  from wishlist</button>
                                </form>
                            }
                        }
                        <p class="font-weight-light font-italic">In users wishlists: <span>@Html.DisplayFor(model => model.WishlistNumber)</span></p>
                    </div>
                </div>
                <div class="row">
                    <h5>About product</h5>
                    <p class="font-weight-light font-italic"><span>@Html.DisplayFor(model => model.LongDescription)</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-5">
        <div class="col-10">
            <h4>Product reviews</h4>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <a class="btn btn-primary" asp-controller="Review" asp-action="CreateReview" asp-route-id="@Model.ProductId">Write review</a>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        @foreach (var i in Model.Reviews)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <h5>
                        @Html.DisplayFor(modelItem => i.Username)
                    </h5>
                    <p>
                        Score:<span>@Html.DisplayFor(modelItem => i.Score)</span>/5 On <span>@Html.DisplayFor(modelItem => i.ProductName)</span>
                        Date: <span>@Html.DisplayFor(modelItem => i.DateCreated)</span>
                    </p>
                </div>
                <div class="card-body">
                    <p>@Html.DisplayFor(modelItem => i.Text)</p>
                </div>
            </div>
        }
    </div>
</div>
