@model IEnumerable<CourseApplication.Models.User>
@{
    ViewBag.Title = "User list";
}

<a asp-action="CreateUser">Add new user</a>
<a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="GetRoles">Access Rights</a>

<table class="table">
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Name</td>
            <td>
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="EditRoles" asp-route-userid="@user.Id">Edit roles</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Change password</a>
                    <a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
    }
</table>