@model IEnumerable<CourseApplication.BLL.VMs.UserDeliveryData.UserDeliveryDataInfo>

@{
    ViewData["Title"] = "UserDeliveryData";
}
<div class="container">
    <div class="row d-flex justify-content-between my-3">
        <h3>User Delivery Data</h3>
        <div>
            <a class="btn btn-primary" asp-controller="UserDeliveryData" asp-action="CreateUserDeliveryData">Add delivery data</a>
        </div>
    </div>
    <div class="row d-flex flex-column align-items-center">
        @{
            @if (Model.Count() == 0)
            {
                <span class="text-muted">No current user delivery data is present in our database. Try to add something!</span>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <div class="card mb-3 w-100">
                        <div class="card-header">
                            <h4>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="font-weight-light font-italic mb-1"><b>Postal index:</b> <span>@Html.DisplayFor(modelItem => item.PostalIndex)</span></p>
                                        <p class="font-weight-light font-italic mb-1"><b>Country</b>: <span>@Html.DisplayFor(modelItem => item.Country)</span></p>
                                        <p class="font-weight-light font-italic mb-1"><b>Region</b>: <span>@Html.DisplayFor(modelItem => item.Region)</span></p>
                                        <p class="font-weight-light font-italic mb-1"><b>City</b>: <span>@Html.DisplayFor(modelItem => item.City)</span></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="font-weight-light font-italic mb-1"><b>Street</b>: <span>@Html.DisplayFor(modelItem => item.Street)</span></p>
                                        <p class="font-weight-light font-italic mb-1"><b>House</b>: <span>@Html.DisplayFor(modelItem => item.House)</span></p>
                                        <p class="font-weight-light font-italic mb-1"><b>Apartments</b>: <span>@Html.DisplayFor(modelItem => item.Apartments)</span></p>
                                        <p class="font-weight-light font-italic mb-1"><b>Telephone</b>: <span>@Html.DisplayFor(modelItem => item.Telephone)</span></p>
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="btn btn-primary w-100 mb-2" asp-controller="UserDeliveryData" asp-action="EditUserDeliveryData" asp-route-id="@item.DataId">Edit</a>
                                        <form class="w-100" method="post" asp-controller="UserDeliveryData" asp-action="DeleteUserDeliveryData" asp-route-id="@item.DataId">
                                            <button class="btn btn-danger w-100" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>

</div>