@model IEnumerable<CourseApplication.BLL.VMs.Order.OrderData>

@{
    ViewData["Title"] = "My orders";
}
<div class="container">
    <div class="row d-flex justify-content-between my-3">
        <h3>My orders</h3>
    </div>
    <div class="row d-flex flex-column align-items-center">
        @{
            @if (Model.Count() == 0)
            {
                <span class="text-muted">Currently your order list is empty because you didn't ordered anything yet.</span>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <div class="card mb-3 w-100">
                        <div class="card-header">
                            <h4>
                                Order @Html.DisplayFor(modelItem => item.OrderId)
                            </h4>
                            </div>
                            <div class="card-body">
                                <p>Order created: <span class="font-weight-light font-italic">@Html.DisplayFor(modelItem => item.DateCreated)</span></p>
                                <p>Address: <span class="font-weight-light font-italic">@Html.DisplayFor(modelItem => item.FullAddressString)</span></p>
                                <h5>Ordered goods:</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var position in item.PositionList)
                                {
                                    <li class="list-group-item">
                                        <div class="container">
                                            <div class="row">
                                                <h4>@Html.DisplayFor(modelItem => position.Name)</h4>
                                            </div>
                                            <div class="row py-1">
                                                <div class="col-4 my-0">
                                                    <p class="font-weight-light font-italic my-1">Brand: <span>@Html.DisplayFor(modelItem => position.BrandName)</span></p>
                                                </div>
                                                <div class="col-4 my-0">
                                                    <p class="font-weight-light font-italic my-1">Category: <span>@Html.DisplayFor(modelItem => position.CategoryName)</span></p>
                                                </div>
                                            </div>
                                            <div class="row py-1">
                                                <div class="col-4 my-0">
                                                    <p class="font-weight-light font-italic my-1">USD $@Html.DisplayFor(modelItem => position.Price)</p>
                                                </div>
                                                <div class="col-4 my-0">
                                                    <p class="font-weight-light font-italic my-1">Quantity: <span>@Html.DisplayFor(modelItem => position.Number)</span></p>
                                                </div>
                                            </div>
                                            <div class="row py-1">
                                                <h5 class="text-danger font-weight-bold my-1">Total cost: USD $<span>@Html.DisplayFor(modelItem => position.TotalPrice)</span></h5>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <div class="card-body">
                                <h5 class="my-1">Total order cost:<span class="text-danger"> USD $@Html.DisplayFor(modelItem => item.TotalCost)</span></h5>
                            </div>
                        </div>
                    }
                }
            }
    </div>

</div>